# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib
bin/
/gorinth

# Test binaries
*.test

# Output of the go coverage tool
*.out

# Local temp folders for downloading mods
temp/

# Env files
.env
.env.local
.env.*.local

# config
config.yaml
local.config.yaml

# test related
/mods
/rmods
*.zip

# OSX
.DS_Store

conductor/